body{
	font-family:arial;
	text-align: center;
	background:blue;
}




h1 {
	color :yellow;
	font-size : 14px;
}

h2,h3,h4 {
	color;grid-template-columns: 
	font-size : 34px;
}



div {
 background: pink;
}